<div class="row">
  <div class="col m12 s12 l9 xl9 p-0  bg-color-blue height-vh responsive-pad-color">
  <div class="bg-blue margin-top-12">
    <div class="row fs-26 color-white font-responsive" id="config-head">
      System Configuration
    </div>
    <div class="row content-m fs-14" style="padding-top:8px;">
      <div class="row">
        <div
          class="col s12 m6 l4 xl3 bg-light-blue config-menu-p mb-3 center-align"
        >
          <a class="color-white" routerLink="system-configuration"
            >SYSTEM INFORMATION</a
          >
        </div>
      </div>
      <div class="row">
        <div
          class="col s12 m6 l4 xl3 bg-light-blue config-menu-p mb-3 center-align"
        >
          <a class="color-white" routerLink="software-license"
            >LICENCES</a
          >
        </div>
      </div>
      <div class="row">
        <div
          class="col s12 m6 l4 xl3 bg-light-blue config-menu-p mb-3 center-align"
        >
          <a class="color-white" routerLink="accessories">
            MANAGE ACCESSORIES</a
          >
        </div>
      </div>
      <div class="row">
        <div
          class="col s12 m6 l4 xl3 bg-light-blue config-menu-p mb-3 center-align"
        >
          <a class="color-white" routerLink="configuration-code"
            >CONFIGURATION CODE
          </a>
        </div>
      </div>
    
    </div>
  </div>
  <!-- <nordson-footer></nordson-footer> -->
</div>
</div>
