<header>
  <nav class="header-background nav-responsive">
    <div class="nav-wrapper">
      <div>
        <div style="text-align: right;padding-top: 10px" class="pad-right-100-responsive">
          <span class="country-head">US English</span>
          <span class="arrow-down-header">
            <i class="fa fa-caret-down" style="color: #ffffff"></i
          ></span>
        </div>
      </div>
      <div style="text-align: center">
        <img
        class="nordson-logo-responsive"
          src="../../../assets/img/nordson_white_logo.png"
          width="158px"
          height="56px"
          alt=""
        />
      </div>
      <div class="row">
        <a class="brand-logo center" style="padding-top: 10px">
          <img
            class="responsive-img-dashboard bb-logo-responsive"
            src="../../../assets/BBconn Cloud logo and font.svg"
            height="	46px"
            width="275px"
          />
        </a>
      </div>
    </div>
  </nav>
</header>
