.super-font {
  color: #0081c5;
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 25px;
  font-weight: 500;
}

#super-input-style {
  height: 28px;
  width: 120px;
  border: 1px solid #acb2b5;
  border-radius: 3px;
  background-color: #ffffff;
  line-height: 0;
  padding-left: 35px;
  color: #767576;
  margin-right: 11px;
}

#superadim-dash {
  padding: 40px 45px;
}

::placeholder {
  color: #767576;
}

.search {
  position: relative;
  left: 23px;
  top: 1px;
}

.super-user-padding {
  padding-top: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5ecf5;
}

#super-main-section {
  background: #fff;
}

.super-sub {
  line-height: 48px;
  background-color: #D5F0FF;
}

.super-header-font {
  color: #203535;
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 0.92px;
  word-break: break-all;
}
.text-transform {
  text-transform: uppercase;
}
.uppercase {
  text-transform: uppercase;
  color: rgb(130, 128, 130);
  font-size: 14px;
  letter-spacing: 0.47px;
}
.text-success {
  text-transform: uppercase;
  color: #0181c5;
  font-size: 14px;
  letter-spacing: 0.47px;
}

.border-right {
  border-right: 1px solid #dedede;
}

#super-main-section .card {
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 28px 18px 28px 18px;
}

/* material select */

::ng-deep #super-select .mat-form-field-infix {
  height: 28px;
  width: 160px;
  border: 1px solid #acb2b5;
  border-radius: 3px;
  background-color: #ffffff;

  color: #767576;
}

::ng-deep #super-select .mat-select-arrow {
  color: #7ab800;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid;
  margin: 0 9px;
  margin-top: -3px;
}

::ng-deep #super-select .mat-form-field-infix {
  height: 28px;
  width: 160px;
  border: 1px solid #acb2b5;
  border-radius: 3px;
  background-color: #ffffff;
  color: #767576;
}

::ng-deep #super-select .mat-select-arrow {
  color: #7ab800;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid;
  margin: 0 9px;
  margin-top: -3px;
}

::ng-deep #super-select .mat-select-value-text,
#super-select .placeholder,
#super-select .mat-select-value-text {
  position: relative;
  left: 6px;
  color: #4a4a4a;
  font-family: 'Roboto';

  font-size: 13px;
  font-weight: 500;
  top: -2px;
}

::ng-deep .superselect .mat-option {
  color: #4a4a4a;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
}

::ng-deep .mat-select-panel-wrap .superselect {
  position: relative;
  left: 16px;
  top: 20px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

/* END*/
/* dailog box */
::ng-deep .cdk-global-overlay-wrapper .cdk-overlay-pane.addadmin {
  position: absolute !important;
  right: -1500px;
  -webkit-animation: slide 0.5s forwards !important;
  -webkit-animation-delay: 0.5s !important;
  animation: slide 0.2s forwards !important;
  animation-delay: 1s;
}

::ng-deep .addadmin .invite-label {
  position: relative;
  top: 10px;
  background: #fff;
  left: 10px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.4px;
}

::ng-deep .addadmin .mat-dialog-container {
  transform: none;
  padding-left: 60px;
  padding-right: 60px;
}

::ng-deep .addadmin .invite-text {
  color: #4a4a4a;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 18px;
}
/*end*/

/*edit user */
::ng-deep .addadmin #edituser-admin h6 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  margin-top: 23px;
}
::ng-deep .addadmin #chekbox-superadmin .mat-checkbox-frame {
  border-color: #0181c5;
  border: 2px solid #0181c5;
  border-radius: 3px;
}
::ng-deep .addadmin .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep
  .addadmin
  .mat-checkbox-indeterminate.mat-accent
  .mat-checkbox-background {
  background-color: #fff;
  border-color: #0181c5;
  border: 2px solid #0181c5;
  border-radius: 3px;
}
::ng-deep .addadmin .mat-checkbox-inner-container {
  height: 20px;
  width: 20px;
}
::ng-deep
  .addadmin
  #chekbox-superadmin
  .mat-checkbox-layout
  .mat-checkbox-label {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  padding-left: 4px;
}

::ng-deep .addadmin .mat-checkbox-checkmark-path {
  stroke: #0181c5 !important;
}
::ng-deep .addadmin .left-1 {
  position: relative;
  top: 10px;
  background: #fff;
  left: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.left-admin-text {
  display: flex;
  justify-content: baseline;
  justify-content: flex-start;
  padding-left: 15px;
}
