<div [ngClass]="['backgroundImg']">
  <div class="signin login comm-height">
    <nordson-header></nordson-header>
    <form
      *ngIf="changepasswordForm"
      name="form"
      #form="ngForm"
      [formGroup]="changepasswordForm"
      (submit)="onSubmit()"
    >
      <div class="row margin-null section pad-responsive-signup">
        <!-- <div class=" col  m2 l2 xl2"></div> -->
        <div class="login-section">
          <div
            class="main-section"
            style="padding: 18px 20px 0px 22px !important"
          >
            <div *ngIf="!disableBack">
              <a (click)="dashboardRoute()">
                <img
                  src="../../../assets/img/svg/Back Icon.svg"
                  alt="not working"
                  style="width: 22px;height:22px"
              /></a>
            </div>
            <section class="center">
              <!-- <ng-flash-message></ng-flash-message> -->
              {{ errMessage }}
              <h6>Change your Password</h6>
              <span>Set a new password</span>
            </section>
            <div class="sub-section">
              <div>
                <label class="text-above">
                  Old Password
                  <sup>*</sup>
                </label>
                <input
                autocomplete="off"
                  type="password"
                  formControlName="oldpwd"
                  placeholder=" Enter old password"
                  required=""
                  id="pwd"
                  notEqualValidator="pwd"
                  [type]="show_button ? 'text' : 'password'"
                  class="form-control border-blue"
                />
                <i
                  behaviour="click"
                  id="font-icon"
                  class="fa fa-eye"
                  [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  style="font-size:20px"
                  (click)="showPassword('font-icon1')"
                ></i>
                <div
                  class="invalid"
                  *ngIf="f.oldpwd.touched && f.oldpwd.errors?.required"
                >
                  Old Password is required
                </div>
              </div>
              <div>
                <label class="text-above">
                  New Password
                  <sup>*</sup>
                </label>
                <input
                autocomplete="off"
                  type="password"
                  formControlName="pwd"
                  placeholder="Enter new password"
                  required=""
                  id="pwd"
                  notEqualValidator="oldpwd"
                  [type]="show_button_reset ? 'text' : 'password'"
                  class="form-control border-blue"
                onPaste="return false"

                />
                <i
                  behaviour="click"
                  id="font-icon"
                  class="fa fa-eye"
                  [class]="show_eye_reset ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  style="font-size:20px"
                  (click)="showPassword('font-icon2')"
                ></i>
                <div
                  class="invalid"
                  *ngIf="f.pwd.touched && f.pwd.errors?.required"
                >
                  Password must be required
                </div>
                <div class="invalid" *ngIf="f.pwd.errors?.minlength">
                  Password must be at least 8 characters long
                </div>
                <div class="invalid" *ngIf="f.pwd.errors?.maxlength">
                  Your Password should not be more than 64 characters long
                </div>
                <div class="invalid" *ngIf="(f.pwd.touched || f.oldpwd.touched) && f.pwd.errors?.equal && !f.oldpwd.errors?.equal && !f.pwd.errors?.required">
                  Old Password and New Password must not be same
                </div>
                <div class="invalid" *ngIf="(f.pwd.touched || f.oldpwd.touched) && !f.pwd.errors?.equal && f.oldpwd.errors?.equal && !f.pwd.errors?.required">
                  Old Password and New Password must not be same
                </div>
              </div>
              <div>
                <label class="text-above">
                  Confirm Password
                  <sup>*</sup>
                </label>
                <input
                autocomplete="off"
                  type="password"
                  formControlName="cnfpassword"
                  placeholder="Confirm new password"
                  required=""
                  id="cnfpassword"
                  [type]="show_button_reset1 ? 'text' : 'password'"
                  class="form-control border-blue"
                onPaste="return false"
                />
                <i
                  behaviour="click"
                  id="font-icon"
                  class="fa fa-eye"
                  [class]="show_eye_reset1 ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  style="font-size:20px"
                  (click)="showPassword('font-icon3')"
                ></i>
                <div
                  class="invalid"
                  *ngIf="
                    f.cnfpassword.touched && f.cnfpassword.errors?.required
                  "
                >
                  Confirm Password must be required
                </div>
                <div class="invalid" *ngIf="f.cnfpassword.errors?.mustMatch">
                  Confirm Password and New Password must be equal
                </div>
              </div>
              <div class="button-section-center">
                <button
                  type="submit"
                  [disabled]="!form.valid"
                  class="btn submit-bt right"
                >
                  change password
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <nordson-footer></nordson-footer> -->
