<div [ngClass]="['backgroundImg']">
  <div class="signin login comm-height">
    <nordson-header></nordson-header>
      <div class="row margin-null section pad-responsive-signup" >
        <div class="login-section">
          <div class="main-section pad-right-left-20">
            <section class="center">

              <h6>Reset your password</h6>
              <span>Set a new password</span>
            </section>
            <form
            [formGroup]="resetPassword"
            
            > 
            <div class="sub-section">
              <div  [formGroup]="resetPassword">
                <label class="text-above">
                  New Password
                  <sup></sup>
                </label>
                <input
                autocomplete="off"
                  type="password"
                  name="password"
                  formControlName="password"
                  [type]="show_button ? 'text' : 'password'"
                  class="form-control border-blue"
                  onPaste="return false"
                />
                <i
                  behaviour="click"
                  id="font-icon"
                  class="fa fa-eye"
                  [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  style="font-size:20px"
                  (click)="newPassword()"
                ></i>
                <div
                  class="invalid"
                  *ngIf="f.password.touched && f.password.errors?.required"
                >
                  Password is required
                </div>
                <div class="invalid" *ngIf="f.password.errors?.minlength">
                  Password must be at least 8 characters long
                </div>
                <div class="invalid" *ngIf="f.password.errors?.maxlength">
                  Your Password should not be more than 64 characters long
                </div>
              </div>
              <div [formGroup]="resetPassword">
                <label class="text-above">
                  Confirm Password
                  <sup></sup>
                </label>
                <input
                autocomplete="off"
                  type="password"
                  name="cnfpassword"
                  formControlName="cnfpassword"
                  [type]="show_button_reset ? 'text' : 'password'"
                  class="form-control border-blue"
                  onPaste="return false"
                />
                <i
                  behaviour="click"
                  id="font-icon"
                  class="fa fa-eye"
                  [class]="show_eye_reset ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  style="font-size:20px"
                  (click)="repeatPassword()"
                ></i>
                <div
                  class="invalid"
                  *ngIf="
                    f.cnfpassword.touched && f.cnfpassword.errors?.required ">
                  Confirm Password is required
                </div>
                <div
                  class="invalid"
                  *ngIf="f.cnfpassword.errors?.mustMatch"
                >
                  Confirm Password and password must be equal
                </div>
              </div>
              <div class="button-section-center">
                <button
                  type="button"
                  [disabled]="!isValid"
                  (click)="onSubmit()"
                  class="btn submit-bt right"
                >
                  Reset password
                </button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- <nordson-footer></nordson-footer> -->
