.blue-c {
  color: #0181c5;
}
.text-note{
  margin-top: -18px;
border: 1px solid #0181c5;
border-radius: 5px;
padding: 5px;
font-size: 11px;
font-style: italic;
background: rgba(1, 129, 197, 0.1);
margin-bottom: 20px;
width: 318px;
text-align: center;
}
@media only screen and (max-width: 500px) {
  .text-note{
    width: 300px !important;
  }
}

