<!--  TODO Inline style need to removed Remove junk code / comments -->
<div [ngClass]="['backgroundImg']">
  <div class="signin  background-img login comm-height">
    <nordson-header></nordson-header>
    <form
      name="form"
      #form="ngForm"
      [formGroup]="forgetpassword"
      (submit)="onSubmit()"
    >
      <div class="row margin-null section pad-responsive-signup">
        <div class="login-section">
          <div
            class="main-section pad-right-left-20"
            style="min-height: 364px ;padding-top:21px;    margin-bottom: 29%;"
          >
            <section class="center">
              <a
                style="display: block;
              text-align: left;
              padding-left: 14px;"
                [routerLink]="['/login']"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                  /></svg></a>
              <h6 style="margin: 0">Forgot your password?</h6>
              <div>We’ll send you recovery link on your email address</div>
            </section>
            <div class="sub-section">
              <div>
                <label class="text-above">
                  Email Address
                  <sup></sup>
                </label>
                <input
                autocomplete="off"
                  type="text"
                  id="pwd"
                  class="form-control border-blue text-lower-case"
                  required=""
                  formControlName="email"
                  nordsonLowercase
                />
                <div
                  class="invalid"
                  *ngIf="f.email.touched && f.email.errors?.required"
                >
                  Email must be required
                </div>
                <div class="invalid" *ngIf="f.email.errors?.email">
                  Please enter a valid Email address
                </div>
              </div>
              <div class="button-section-center">
                <button
                  type="submit"
                  [disabled]="!form.valid"
                  class="btn submit-bt right submit-bt"
                >
                  RECOVER PASSWORD
                </button>
              </div>
              <div class="text-note">
               NOTE: You need to check the Spam if emails not received within stipulated time
              </div>
            </div>
            <div class="margin-minus">
              <p>
                Do you know your password?
                <a routerLink="/login"><span class="blue-c">Sign In</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <nordson-footer></nordson-footer> -->
