<div [ngClass]="['backgroundImg']">
  <div class="signin login comm-height">
    <nordson-header></nordson-header>
    <form>
      <div class="row margin-null section pad-responsive-signup">
        <div class="login-section">
          <div class="main-section pad-right-left-20">
            <div class="sub-section t-center" style="max-width: 330px;">
              <div>
                <img
                  class=""
                  src="../../../assets/img/svg/sent.svg"
                  alt="check image"
                />
              </div>
              <div>
                <p class="t-center email-link">We have sent you a link!</p>
              </div>
              <div>
                <p class="t-center sub-email-link">
                  Please check your email and click on a confirmation link.
                </p>
              </div>
              <div
                class="button-section-center"
                style="margin-top:0px;padding-bottom:10%;"
              >
                <!-- <a routerLink="/">
                  <button
                    type="submit"
                    [disabled]=""
                    class="btn submit-bt right"
                  >
                    Go Back to Login
                  </button>
                </a> -->
                <div style="    margin-top: 40px;
                border: 1px solid #0181c5;
                border-radius: 5px;
                padding: 5px;
                font-size: 11px;
                font-style: italic;
                background: rgba(1, 129, 197, 0.1);">
                 NOTE: You need to check the Spam if emails not received within stipulated time
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <nordson-footer></nordson-footer> -->
