.bg-color {
  background-color: #0b446d;
  width: 100%;
  padding: 30px 14px 14px;
}
.map-heading {
  color: #ffffff;
  font-size: 26px;
  padding-left: 24px;
}
.margin-top-12 {
  margin-top: -12px;
}
.system-settings-column {
  max-height: 75vh;
  height: 550px;
  overflow-y: scroll;
  border-radius: 4px;
  background-color: #aac9d6;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.pad-top-23 {
  padding-top: 23px;
  padding-bottom: 23px;
}
.title {
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0.92px;
}
.area-title {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.5px;
}
::ng-deep #plc-mapping .mat-expansion-panel .mat-expansion-panel-header {
 
  flex-direction: row-reverse;
}
::ng-deep #plc-mapping .mat-expansion-panel-header-title {
  padding-left: 12px;
}
::ng-deep #plc-mapping .mat-expansion-panel-header {
  padding: 0px 12px;
}
::ng-deep #plc-mapping .mat-expansion-panel {
  background-color: #aac9d6;
  box-shadow: 0px 0px;
}
::ng-deep #plc-mapping .mat-expansion-panel:hover {
  background-color: #aac9d6;
  box-shadow: 0px 0px;
}
.fill-fields {
  display: flex;
}
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: none;
}


.outer-wrapper {
  height: 435px;
  width: 222px;
  background-color: #ffffff;
  overflow: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 22px;
}
.input-plc {
  height: 21px !important;
  width: 87px !important;
  border: 1px solid #979797 !important;
  opacity: 0.5;
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0) !important;
  margin: 0px !important;
}
table td,
th {
  height: 35px !important;
  padding: 7px !important;
}
.text {
  color: #203535;
  font-size: 12px;
}
tr:nth-child(even) {
  background: #f5f5f5;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}


.background-blue {
  background-color: #0b446d;
  width: 100%;
  padding: 14px;
}
.cancel-btn-plc {
  height: 36px;
  width: 130px;
  background-color: rgb(196, 196, 196);
  border: none;
  color: rgba(0, 0, 0, 0.38);
  font-size: 14px;
  letter-spacing: 1.25px;
  border-radius: 4px;
}
.save-btn-plc {
  height: 36px;
  width: 130px;
  background-color: #0181c5;
  border: none;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.25px;
  border-radius: 4px;
}

input[type='text'][disabled] {
  background: gray !important;
}
.pad-top-5 {
  padding-top: 5px;
}
.pad-bottom-5 {
  padding-bottom: 5px;
}
.color {
  color: #0181c5;
}
.uppercase {
  text-transform: uppercase;
}
#scroll ::-webkit-scrollbar-thumb {
  height: 92px;
  width: 11px;
  border-radius: 10.5px;
  background-color: #0d436d;
}

#scroll ::-webkit-scrollbar {
  width: 11px;
}
.plc-height{
  height: auto;
}

.import-div {
  color:white;
  font-size: 14px;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.import-button-div{
  height: 36px;
  width: 135px;
  border: 1px solid #0181c5;
  border-radius: 4px;
  margin: 10px auto 0px;
  padding: 7px;
  text-align: center;
  background: #0081c6;
}


