<footer>
  <div class="footerPanel">
    <div class="page-footer">
      <div class="footer-copyright" style="padding: 0px 0px">
        <div class="footer-width">
          <span class="copyright">© {{currentYear}} Nordson Corporation</span>
          <div class="right ">
            <div class="right footer-text cursor-pointer pad-responsive-signup" (click)="openDialogContactUs($event)">Contact Us </div>
            <span class="right display-none-responsive">|</span>
            <div class="right footer-text pad-responsive-signup pad-tp-15-responsive"> <a href="https://www.nordson.com/en/our-company/ethics-and-compliance/cookie-notice" target="_blank"> Cookies</a></div>
            <span class="right display-none-responsive">|</span>
            <div class="right footer-text pad-responsive-signup pad-tp-15-responsive"> <a routerLink="/termsofservice" target="_blank">Terms of Service</a> </div>
            <span class="right display-none-responsive">|</span>
            <div class="right footer-text pad-responsive-signup pad-tp-15-responsive"> <a href="https://www.nordson.com/en/our-company/ethics-and-compliance/privacy-statement" target="_blank">Privacy Policy</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
