.manage-row {
  background: #ebecee;
  border-radius: 5px;
  padding-left: 21px;
}

.manage-row .manage-left li a {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 15px;
}

.equipment-left {
  margin-top: 26px;
}

.manage-row .manage-right li a {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 19px;
}

.manage-row .manage-left li {
  padding-bottom: 12px;
}

.manage-row .manage-right li {
  padding-bottom: 3px;
}

.manage-row .sprite-home {
  text-align: right;
}

.manage-row .sprite-home img {
  height: 70px;
  width: 30px;
  -o-object-fit: none;
  object-fit: none;
  -o-object-position: 0 0;
  object-position: -168px -37px;
  transition: all 0.2s ease;
  text-align: right;
}

.scroll-user {
  max-height: 463px;
  overflow-y: scroll;
}

table#customers tr td:first-child {
  color: #4a4a4a;
  font-family: Arial;
  font-size: 18px;
}

table#customers tr td:first-child + td {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 600;
}

table#customers tr td:first-child + td > input {
  border: none;
}

table#customers tr {
  border-bottom: 1px solid #cacaca;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: #7ab800;
  background-color: #cdcdcd;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: #7ab800;
}

#model-box {
  width: 44%;
  min-height: 300px;
  margin: 0 auto;
  display: table;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border: 1px solid;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px;
  border: 1px solid #0081c6;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
}

.modal-footer {
  border-top: 1px solid #9b9b9b;
  padding: 0 31px;
}

.modal-h1 {
  color: #005293;
  font-family: Roboto;
  font-size: 28px;
  padding-left: 54px;
}

.modal-footer .text-right {
  text-align: right;
}

table#customers {
  width: 84%;
  margin-left: 52px;
}

.modal-header {
  border-bottom: 1px solid #7ab800;
}

.model-content {
  padding-bottom: 19px;
}

.sub-section {
  margin-top: 2%;
  padding: 0% 19% 5%;
}
.sub-heading {
  padding-bottom: 15px;
}
