<div class="landing-wrapper">
   <div class="equipment-section">
      <div class="row">
         <div class="col m4 s3 l4 xl4">
            <div style="padding-top: 10px;">
               <img src="../../assets/BBconn Logo (1).png" alt=""  class="bblogo-landing">
            </div>
         </div>
         <div class="col m4 s3 l4 xl4" style="text-align: center;">
            <div>
               <img src="../../assets/img/nordson_white_logo.png" alt="" class="nordlogo-landing">
            </div>
         </div>
         <div class="col m4 s6 l4 xl4" style="text-align: right;padding-top: 10px;">
            <div class="landing-signin" (click)="navigateToLogin()">
               Sign in
               <span class="landing-signup" (click)="navigateToSignUp()">
                  Sign up
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col m12 s12 l12 xl6">
            <div class="connect-landing t-center-responsive">
               <div class="font-responsive"> Connect all your BBconn</div>
               <div class="font-responsive">systems to higher productivity</div>
               <div style="padding-top: 20px;"><button class="sign-up-btn" (click)="navigateToSignUp()">Sign up</button>
               </div>
            </div>
         </div>
         <div class="col m12 s12 l12 xl6 t-center-responsive t-right">
            <div class="equip-image">
               <img src="../../assets/landing-images/Model Registration bottom-min.png" alt="" class="modalimg-landing">
            </div>
         </div>
         <div>
         </div>
      </div>
   </div>
   <div class="row landing-dashboard t-center-responsive" style="padding: 10px 0px;">
      <div class="col m12 s12 l12 xl7">
         <img src="../../assets/landing-images/Dashboard-min.png" alt="" class="dashimg-landing">
      </div>
      <div class="col m12 s12 l12 xl5 pad-responsive-signup">
         <div class="landing-head pad-tp-100 font-responsive">Register, Setup, Manage all </div>
         <div class="landing-head font-responsive">from your user dashboard</div>
         <p class="landing-sub-head responsive-padding font-responsive">Once you register with your equipment part number and serial number, you can manage
            and download all your system settings and recipes. Use your account dashboard to quickly access extensive
            support resources.</p>
      </div>
   </div>
   <div class="row event-log">
      <div class="col m12 s12 l12 xl5 t-center-responsive padding-left-85">
         <div class="landing-head pad-tp-100 font-responsive">
            View Event Log
         </div>
         <p class="landing-sub-head responsive-padding font-responsive">
            Upload your equipment’s entire event history to BBconn cloud. Analyze the data for  operational improvement
            using powerful sort, filter and drill down options to view alarms and settings changes
         </p>
      </div>
      <div class="col m12 s12 l12 xl7 event-img t-center-responsive">
         <img src="../../assets/landing-images/Event log-min.png" alt=""  class="dashimg-landing">
      </div>
   </div>
   <div class="row setup-tools padding-seting-landing" >
      <div class="col m12 s12 l12 xl6 t-center-responsive">
         <div class="landing-head font-responsive">
            Configure and store all your
         </div>
         <div class="landing-head font-responsive">
            settings and recipes in one place
         </div>
      </div>
      <div class="col m12 s12 l12 xl6">
         <div class="landing-sub-head width-responsive t-center-responsive pad-tp-30-responsive font-responsive">
            Create and save all your important setup data in the security of BBconn cloud for later editing or
            retrieval.
         </div>
      </div>
   </div>
   <div class="set-up-img row" style="padding:0 40px 0px 0px">
      <div class="col m12 s12 l12 xl12">
         <img src="../../assets/landing-images/Big 4 IImage-min.png" alt=""  class="width-collapse-img">
      </div>
   </div>

   <div class="row event-log" style="padding-bottom: 130px;">
      <div class="col m12 s12 l12 xl5 t-center-responsive padding-left-85">
         <div class="landing-head pad-tp-100 font-responsive">
            Model Registration
         </div>
         <p class="landing-sub-head responsive-padding font-responsive">
            Use your account to register all your BBconn controlled equipment. Add sub users to your account and grant
            them read-only or read- write access
         </p>
      </div>
      <div class="col m12 s12 l12 xl7 event-img t-center-responsive">
         <img src="../../assets/landing-images/Model Registration bottom-min.png" alt="" class="dashimg-landing">
      </div>
   </div>
</div>
<!-- <nordson-footer></nordson-footer> -->