.zone-heading {
  color: #ffffff;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}
.setting-blue-zone-fill {
  padding: 9px 48px 65px 26px;
}
.card-applicator {
  /* width: 390px !important;	 */
  border-radius: 4px;
  /* margin-right: 10px; */
  background-color: #aac9d6;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 10px;
}

.card-applicator-top {
  /* width: 390px !important;	 */
  border-radius: 4px;
  /* margin-right: 10px; */
  background-color: #aac9d6;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 1px 17px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 15px;
}

.m-t-10 {
  margin-top: -20px;
}
m-t {
  margin-top: 10px;
}
m-b-10 {
  margin-bottom: 10px;
}
.p-t-5 {
  padding-top: 5px;
}
.set-sel {
  min-height: 35px;
  font-size: 10px;
  border: 1px solid rgba(25, 25, 25, 0.32);
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-block;
  width: 110%;
}
.hr {
  box-sizing: border-box;
  height: 1px;
  opacity: 0.5;
  margin-left: -15px;
  margin-right: -15px;
  border: 0.5px solid #979797;
}
.row {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 40px;
}
.pressure input {
  height: 35px;
  width: 66px;
  border: 1px solid rgba(25, 25, 25, 0.32);
  border-radius: 4px;
  background-color: #fff;
  left: 10px;
  padding-left: 10px;
}

::ng-deep .fill-mat .mat-slide-toggle-persistent-ripple,
.mat-slide-toggle.mat-disabled
  .mat-slide-toggle-bar:hover
  .mat-slide-toggle-persistent-ripple {
  opacity: 0;
}

::ng-deep .fill-mat .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #05940a;
}
::ng-deep .fill-mat .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #fff;
}

::ng-deep .fill-mat .mat-slide-toggle-label .mat-slide-toggle-bar {
  border-radius: 14px;
  height: 25px;
  width: 50px;
  background: #fff;
}
::ng-deep .fill-mat .mat-slide-toggle-thumb-container .mat-slide-toggle-thumb {
  height: 19px;
  width: 19px;
  border-radius: 14px;
  position: relative;
  top: 5px;
  left: 2px;
  background: #ababab;
}

::ng-deep
  #fill-mat
  .mat-slide-toggle.mat-checked
  .mat-slide-toggle-thumb-container {
  transform: translate3d(26px, 0, 0);
}
::ng-deep #fill-mat .mat-slide-toggle .mat-slide-toggle-ripple {
  opacity: 0;
}

/** text box **/
::ng-deep #fill-mat .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  animation-name: cdk-text-field-autofill-end;
  background: #fff;
  height: 35px;
  width: 96px;
  border: 1px solid rgba(25, 25, 25, 0.32);
  border-radius: 4px;
}
::ng-deep
  #fill-mat
  .mat-form-field-appearance-legacy
  .mat-form-field-underline {
  opacity: 0;
}
::ng-deep #fill-mat .textarea.mat-input-element {
  padding: 8px 0;
  margin: -2px 0;
}
::ng-deep #fill-mat .mat-form-field-wrapper .mat-form-field-infix {
  width: auto;
  padding-right: 31px;
}
::ng-deep #fill-mat .mat-form-field-infix {
  border-top: 0;
}

::ng-deep #fill-mat .mat-input-element {
  width: 100%;
}
::ng-deep #fill-mat .mat-form-field {
  width: 100%;
  top: 6px;
}
::ng-deep #fill-mat .mat-form-field-type-mat-native-select .mat-input-element {
  font-size: 15px;
  height: 34px;
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: none;
}
.m-t {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
}
::ng-deep
  #fill-mat
  .mat-form-field-type-mat-native-select
  .mat-form-field-infix::after {
  top: 25% !important;
  right: 21px !important;
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
  border-top: 7px solid !important;
  position: absolute;
  margin-top: -2.5px;
  pointer-events: none;
  color: #d8d8d8;
}
@media only screen and (min-width: 601px) and (max-width: 1119px) {
  .card-applicator {
    padding: 22px 0px;
  }
  .hr {
    margin-left: 15px;
    margin-right: 9px;
  }
}
@media only screen and (max-width: 600px) {
  .setting-blue-zone {
    padding: 0 25px;
  }
}

/* select drop down */

::ng-deep #fill-mat-sel {
  height: 35px;
  min-width: 175px;
  border: 1px solid rgba(25, 25, 25, 0.32);
  border-radius: 4px;
  background-color: #ffffff;
}

::ng-deep #fill-mat-sel {
  min-width: 222px;
}

::ng-deep .mat-select-panel-wrap .fill-mat-set.mat-select-panel {
  background-color: #ffffff;

  border: 1px solid rgba(25, 25, 25, 0.32);
  border-radius: 4px;
  position: relative;
  left: 16px;
  top: 26px;
}

::ng-deep #fill-mat-sel .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid;
  margin: 0 4px;
  position: relative;
  left: 14px;
  top: 0px;
  color: #d8d8d8;
}

::ng-deep
  #fill-mat-sel
  .mat-form-field-appearance-legacy
  .mat-form-field-underline {
  height: 0;
}

::ng-deep #fill-mat-sel .mat-expansion-panel-header {
  padding: 0 1px;
}

::ng-deep #fill-mat-sel .mat-select-value-text {
  padding-left: 11px;
  padding-top: 3px;
  display: inline-block;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
  display: none;
}

::ng-deep #fill-mat-sel .mat-form-field-infix {
  border-top: 0;
}
.btn-hide {
  display: none;
}
.btn-show {
  display: block;
}
