.temp-heading {
  color: #ffffff;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}
.setting-blue-zone {
  padding: 30px 50px 50px 19px;
}
.button-m {
  width: 165px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
