<div class="row">
  <div class="col m12 s12 l9 xl9 p-0  bg-color-blue height-vh responsive-pad-color">
  <div class=" bg-blue setting-blue-zone margin-top-12">
    <div class="col m12 s12 l12 xl12">
      <article class="temp-heading pad-tp-15">
        <h4 class="zone-heading" style="padding-left: 28px;
            padding-bottom: 15px;">Networking</h4>
      </article>
    </div>
    <div class="row content-m fs-14" style="padding-top:8px;">
      <div class="row">
        <a class="color-white cursor-pointer" routerLink="public-wired-network">
          <div class="col s12 m6 l4 xl4 bg-light-blue config-menu-p mb-3 center-align">
            PUBLIC WIRED NETWORK
          </div>
        </a>
      </div>
      <div class="row">
        <a class="color-white cursor-pointer" routerLink="plc">
          <div class="col s12 m6 l4 xl4 bg-light-blue config-menu-p mb-3 center-align">
            PLC
          </div>
        </a>
      </div>
      <div class="row">
        <a class="color-white cursor-pointer" routerLink="wifi">
        <div class="col s12 m6 l4 xl4 bg-light-blue config-menu-p mb-3 center-align">
          WIFI
        </div>
        </a>
      </div>
      <div class="row">
        <a class="color-white cursor-pointer" routerLink="web-server">
          <div class="col s12 m6 l4 xl4 bg-light-blue config-menu-p mb-3 center-align">
            WEB SERVER

          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- <nordson-footer></nordson-footer> -->
</div>
</div>